
html {
    --color-accent: var(--blue-1);
}

.main > img.me {
    width:11em;
    max-width:40%;
    margin:0;
    margin-right: 1rem;
    border-radius: 5px;
    float:left;
}
article.main > h1 {
    margin:0;
}