

.resume {
    position:relative;
    display:flex;
    width: 8.5in;
    height: 11in;
    margin:1rem auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
    border:1px solid var(--color-divider);
}
.resume svg {
    width:1em;
    height:1em;
}
.resume svg * {
    fill: var(--color-text);
}

.print-button {
    position: absolute;
    display: flex;
    padding: 0.5em;
    align-items: center;
    top: -0.7rem;
    left: 1rem;
    -webkit-appearance: none;
    font-size: 1rem;
    background-color: var(--color-accent);
    color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    cursor:pointer;
    transition: all 0.2s ease-out;
    z-index:10;
}
.print-button:hover {
    transform:scale(1.03);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
}
.print-button:active {
    transform:scale(0.97);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
.print-button > svg > path {
    fill: white;
}

@media print {
    .print-button {
        display:none;
    }
    .resume {
        box-shadow: none;
        border:none;
        margin:0;
    }
    nav {
        display:none;
    }
    footer {
        display:none;
    }
}
@page {
    margin:0;
}


.bullets {
    width:280px;
    flex-grow:0;
    flex-shrink:0;
    padding:1rem;
    background-color: rgba(0, 0, 0, 0.03);
}

.bullets h4 {
    margin-bottom:0.5em;
}
.bullets ul {
    margin-top:0;
}



.main {
    flex-grow:1;
    flex-shrink:1;
    padding:1rem;
}

.main h1 {
    display:inline-block;
    margin:0;
}

.main img.me {
    float:right;
    width:30%;
    border-radius:5px;
    margin-left: 1em;
    margin-right: 1em;
}

.main .blurbs {
    display:flex;
    flex-direction: column;
}

.main .blurbs .blurb {
    position:relative;
    width:90%;
    padding:1rem;
    border-radius:5px;
    overflow: hidden;
}
.main .blurbs .blurb:not(:first-of-type) {
    margin-top:1rem;
}
.main .blurbs .blurb::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.1;
    background-color:var(--blurb-color);
}
.main .blurbs .blurb h2 {
    margin-top:0;
    margin-bottom: 10px;
    opacity:0.5;
    color: var(--blurb-color);
    text-transform: lowercase;
}
.main .blurbs .blurb p {
    margin:0;
}

.main .blurbs .blurb:nth-child(1) {
    --blurb-color: rgb(139, 77, 172);
    align-self: flex-end;
}
.main .blurbs .blurb:nth-child(2) {
    --blurb-color: rgb(25, 114, 196);
}
.main .blurbs .blurb:nth-child(3) {
    --blurb-color: rgb(255, 130, 0);
    align-self: flex-end;
}