

.resume {
    position:relative;
    display:flex;
    width: 8.5in;
    height: 11in;
    margin:1rem auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
    border:1px solid var(--color-divider);
    padding:2rem;
}
.resume svg.link,
.resume svg.github,
.resume svg.linkedin {
    width:1em;
    height:1em;
}
.resume svg * {
    fill: var(--color-text);
}

.print-button {
    position: absolute;
    display: flex;
    padding: 0.5em;
    align-items: center;
    top: -0.7rem;
    left: 1rem;
    -webkit-appearance: none;
    font-size: 1rem;
    background-color: var(--color-accent);
    color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    cursor:pointer;
    transition: all 0.2s ease-out;
    z-index:10;
}
.print-button:hover {
    transform:scale(1.03);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
}
.print-button:active {
    transform:scale(0.97);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
.print-button > svg > path {
    fill: white;
}

@media print {
    .print-button {
        display:none;
    }
    .resume {
        box-shadow: none;
        border:none;
        margin:0;
    }
    nav {
        display:none;
    }
    footer {
        display:none;
    }
}
@page {
    margin:0;
}


.bullets {
    width:280px;
    flex-grow:0;
    flex-shrink:0;
    background-color: rgba(0, 0, 0, 0.03);
}

.bullets h3 {
    margin-top: 0.4rem;
    margin-bottom: 1rem;
}

.bullets h4 {
    margin-top:1em;
    margin-bottom:0;
}
.bullets ul {
    margin-top:0;
}

.bullets ul.experience-list > li {
    margin-top: 0.5em;
    font-size: 0.9em;
}




.resume .main {
    flex-grow:1;
    flex-shrink:1;
    padding:0;
    margin-left:2rem;
}

.resume .main h1 {
    display:inline-block;
    margin:0;
    padding-top:0;
}

.resume .main p {
    margin: 0;
}

.resume .main img.me {
    float:right;
    width:30%;
    border-radius:5px;
    margin-left: 1em;
    margin-right: 0;
}

.resume .main .blurbs {
    display:flex;
    flex-direction: column;
    font-size: 16px;
}

.resume .main .blurbs .blurb {
    position:relative;
}
.resume .main .blurbs .blurb h2 {
    margin-top:10px;
    margin-bottom: 5px;
    opacity:0.5;
    color: var(--blurb-color);
    text-transform: lowercase;
}
.resume .main .blurbs .blurb p {
    margin:0;
}

.resume .main .blurbs .blurb:nth-child(1) {
    --blurb-color: rgb(139, 77, 172);
}
.resume .main .blurbs .blurb:nth-child(2) {
    --blurb-color: rgb(255, 130, 0);
}
.resume .main .blurbs .blurb:nth-child(3) {
    --blurb-color: rgb(25, 114, 196);
}