main.not-found {
    text-align: center;
    max-width: calc(var(--measure) + var(--side-margin) * 2);
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
}

main.not-found p {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}