article {
    padding-top: var(--top-margin);
}

article>* {
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
    width: var(--measure);
}

/* .header-anchor {
    display: none;
} */