article {}

article>* {
    margin-left: var(--main-padding);
    margin-right: var(--main-padding);
    width: calc(min(var(--avail), var(--main-content-width)));
}

@media (min-width: 1101px) {
    article {
        padding-bottom: var(--main-padding);
    }
}

.header-anchor {
    display: none;
}