.home {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: calc(var(--main-content-width) + var(--main-padding) * 2);
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
}

.home h1 {
    margin: 0;
}

.home img {
    animation: colorize 1s ease-out 0.5s;
    animation-fill-mode: both;

    /* margin: 50px 0 30px; */
    align-self: center;
    /* padding: 0.2rem;
    border: 1px solid var(--rule); */


    /* margin-bottom: 1.55rem; */
    padding: 0.28rem;
    /* /* border-top: 1px solid var(--rule); */
    border: 1px solid var(--rule);
}

.home .about {
    text-align: center;
    margin: 30px auto;
}

.home .about hr {
    width: 50px;
    margin: 8px auto;
}

.home p {
    text-align: left;
    hyphens: auto;
    margin: 0;
}

.home p:first-of-type {
    text-indent: 0;
}

.home p a {
    color: var(--accent);
}

@keyframes colorize {
    0% {
        filter: grayscale(1) contrast(1.06);
    }

    100% {
        filter: none;
    }
}