.writing a {
    display: flex;
    color: inherit;
    font: var(--font-dw-pica);
    line-height: normal;
}

.writing a>span {
    flex-grow: 0;
    flex-shrink: 0;
}

.writing .leader {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 10px;
    background-image: radial-gradient(circle at 50% 70%, var(--ink) 0.055em, transparent 0.06em);
    background-size: 0.25em 100%;
    /* 0.45em = dot pitch, tune this */
    background-repeat: repeat-x;
}


@media (max-width: 570px) {
    .writing a>span {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .writing .leader {
        display: none;
    }

    .writing .date {
        display: none;
    }
}

@media (max-width: 442px) {
    .writing a {
        margin-top: 0.3rem;
    }
}