

html {
    font-family: sans-serif;
    color: var(--text-color);
    background-color:var(--background-color);
}


@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.main {
    animation: fade-in 0.2s ease-out;
    padding: var(--frame-padding);
    max-width: 800px;
}

article.blog > .blog-title {
    margin-top:0;
}
