

/* reset some stuff */
nav h1 {
    margin:0;
}
nav ul {
    padding:0;
    margin:0;
}
nav li {
    list-style-type: none;
}



nav {
    display:flex;
    align-items: stretch;
    width: calc(100vw - 10px);
    border-radius: 0 0 100px 0;
    /*color: #eee;
    background-color: var(--accent-color);*/
    background-color:var(--background-color-alt);
    border-bottom: 3px solid var(--accent-color);
    border-right: 3px solid var(--accent-color);
}
nav > input[type="color"] {
    background-color: transparent;
    border: 2px solid var(--text-color);
    border-radius: 1em;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    margin-right: 0.75rem;
    margin-top: 0.25rem;
    cursor:pointer;
}
nav h1 {
}
nav a {
    padding: 0.5rem;
    display: inline-block;
    transition: background-color 0.1s ease-out;
    color: inherit;
}
nav a:hover {
    background-color:var(--overlay-color);
}
nav > ul.links {
    display:flex;
    align-items: stretch;
}

nav .dropdown {
    position: relative;
}
nav .dropdown > a::after {
    content: ' ▼';
    user-select: none;
    -moz-user-select:none;
}
nav .dropdown > ul.dropdown-contents {
    position:absolute;
    top:100%;
    left:0;
    background-color:var(--background-color-alt);

    opacity:0;
    pointer-events: none;
}
nav .dropdown:hover > ul.dropdown-contents {
    opacity:1;
    pointer-events: all;
}

nav > ul.links li {
    display:flex;
    align-items: stretch;
}
nav > ul.links li > a {
    display:flex;
    align-items: center;
    flex-grow:1;
}

nav .settings-button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    color: var(--text-color);
    cursor:pointer;
    transition: background-color 0.1s ease-out;
}
nav .settings-button:active {

}
nav .settings-button:hover {
    background-color:var(--overlay-color);
}
nav .settings-button > dialog {
    top: 20vh;
    width: 50vw;
    height: 50vh;
    user-select: text;
    -moz-user-select: text;
    cursor:auto;
    transition:opacity 0.1s ease-out;
    background-color: var(--background-color-alt);
    color: var(--text-color);
    border:none;
    border-radius:5px;
    box-shadow:0px 5px 25px black;
}
/*
nav .settings-button > dialog::backdrop {
    background-color: var(--color-overlay);
}*/
nav .settings-button:not(:focus) > dialog {
    opacity:0;
    pointer-events: none;
}