
article {
    --line-height: 1.8em;
}

article > * {
    margin:0;
}
article > :not(:first-child) {
    margin-block-start: var(--line-height);
}
article > h1:not(:first-child), 
article > h2:not(:first-child), 
article > h3:not(:first-child), 
article > h4:not(:first-child), 
article > h5:not(:first-child), 
article > h6:not(:first-child) {
    margin-block-start: 1.5em;
}

article h1.blog-heading {
    display:flex;
    align-items:flex-end;
    font-size:2em;
    border-bottom: 1px solid var(--color-divider);
    margin:0;
}
article h1.blog-heading > .flex-spacer {
    min-width: 1em;
} 
article h1.blog-heading > time {
    flex-shrink:0;
    flex-grow:0;
    opacity:0.6;
    font-size:0.6em;
}

article h2 {
    font-size:1.6em;
}

article .header-anchor {
    transition: opacity 0.2s ease-out;
}
article .header-anchor:not(:hover) {
    opacity: 0.3;
}

article p {
    line-height: var(--line-height);
}

article aside {
    padding:1em;
    border-radius: 5px;
    border:1px solid var(--color-accent);
    background-color: var(--color-background-alt);
    font-size:0.8rem;
}
article aside::before {
    content: 'Note:';
    display:block;
    color:var(--color-accent);
    margin-bottom:0.5em;
}

article pre > code,
article blockquote,
article img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}

/* both inline and block-level! */
article code {
    font: 0.8rem 'Consolas', 'Lucida Console', 'Monaco', 'Courier New';
    padding: 0.1em 0.25em;
    border-radius: 0.25em;
    background-color: var(--color-background-alt);
    border: 1px solid var(--color-divider);
}
article :not(pre) > code {
    color: var(--color-accent);
}
/* just block-level */
article pre > code {
    padding: 1rem;
    overflow: auto;
    font-size: 0.6rem;
}

article blockquote {
    padding: 0 1rem;
    opacity: 0.7;
    font-size: 1.3em;
}
article blockquote > p {
    margin:0;
}

article img {
    border-radius: 5px;
}