
article > * {
    margin:0;
}
article > :not(:first-child) {
    margin-block-start: 1em;
}
article > h1:not(:first-child), 
article > h2:not(:first-child), 
article > h3:not(:first-child), 
article > h4:not(:first-child), 
article > h5:not(:first-child), 
article > h6:not(:first-child) {
    margin-block-start: 1.5em;
}

article h1.blog-heading {
    display:flex;
    align-items:baseline;
    font-size:2em;
    border-bottom: 1px solid var(--color-divider);
    margin:0;
}
article h1.blog-heading > time {
    opacity:0.6;
    font-size:0.6em;
}

article h2 {
    font-size:1.6em;
}

article .header-anchor {
    transition: opacity 0.2s ease-out;
}
article .header-anchor:not(:hover) {
    opacity: 0.3;
}

article p {
    line-height: 1.8em;
}

article pre > code,
article blockquote,
article img {
    display:block;
    width:100%;
}

/* both inline and block-level! */
article code {
    font: 0.8rem 'Consolas', 'Lucida Console', 'Monaco', 'Courier New';
    padding: 0.1em 0.25em;
    border-radius: 0.25em;
    background-color: var(--color-background-alt);
    border: 1px solid var(--color-divider);
}
/* just block-level */
article pre > code {
    padding: 1rem;
    overflow: auto;
    font-size: 0.6rem;
}

article blockquote {
    padding: 1rem;
    opacity: 0.7;
    font-size: 1.5em;
}
article blockquote > p {
    margin:0;
}

article img {
    border-radius: 5px;
}