

* {
    box-sizing: border-box;
}

html {
    color: var(--color-text);
    background-color:var(--background-color);
    font-size: 18px;
}

body {
    font-family: var(--content-font);
    background-color: var(--color-background);
    margin:0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
}

h1 {
    padding: 0.25em 0;
    /*border-bottom: 1px solid var(--color-divider);*/
}

hr {
    border-color: var(--color-divider);
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--color-divider);
    padding: 0.5em;
}
.main {
    max-width: 800px;
    margin:0 auto;
    padding: var(--section-padding);
    animation: fade-in 0.3s ease-out;
}

@keyframes fade-in {
    0% { opacity:0; }
    100% { opacity:1; }
}

a {
    text-decoration: none;
}
a[href] {
    color: var(--color-accent);
}
a:visited {
    color: var(--color-accent);
}

footer {
    padding: var(--section-padding);
}
