
html {
    --color-text: rgba(0, 0, 0, 0.9);
    --color-text-secondary: rgba(0, 0, 0, 0.7);
    --color-background: rgb(255, 255, 255);
    --color-background-alt: rgb(219, 219, 219);
    --color-divider: rgba(0, 0, 0, 0.3);
    --color-accent: #009d8f;

    --section-padding: 2rem;
    --comments-padding: 20px;

    --title-font: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    --content-font: Cambria, Georgia, serif;
}

@media (max-width: 480px) {
    html {
        --section-padding: 1rem;
        --comments-padding: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        --color-text: rgba(255, 255, 255, 0.9);
        --color-text-secondary: rgba(255, 255, 255, 0.5);
        --color-background: rgb(20, 20, 20);
        --color-background-alt: rgb(0, 0, 0);
        --color-divider: rgba(255, 255, 255, 0.3);
        --color-accent: #03dac6;
    }
}