
.bio img {
    border-radius: 5px;
    vertical-align: bottom;
}
.bio a[href="/about"] {
    white-space: nowrap;
}
.bio .icon-link {
    transition: opacity 0.2s ease-out;
}
.bio .icon-link:not(:hover) {
    opacity:0.8;
}

@media (min-width: 1200px) {
    .bio {
        position: fixed;
        right: calc(50% + 400px);
        top: var(--section-padding);
        max-width: 300px;
        padding-left: 0.5rem;
        text-align:right;
    }
}
@media (max-width: 1200px) {
    .bio {
        max-width:800px;
        margin:0 auto;
        padding: var(--section-padding);
        background-color: var(--color-background-alt);
        text-align: center;
    }
}