

svg.github,
svg.linkedin,
svg.printer,
svg.home,
svg.link,
svg.rss {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

svg.github *,
svg.printer *,
svg.home *,
svg.rss * {
    fill: var(--color-text);
    stroke: var(--color-text);
}



/* square */
svg.linkedin #path14 {
    fill: var(--color-text);
}

/* letters */
svg.linkedin #path28,
svg.linkedin #path30 {
    fill: var(--color-background);
}