

svg.github,
svg.linkedin,
svg.printer,
svg.link {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

svg.github *,
svg.printer * {
    fill: var(--color-text);
    stroke: var(--color-text);
}

/* square */
svg.linkedin #path14 {
    fill: var(--color-text);
}

/* letters */
svg.linkedin #path28,
svg.linkedin #path30 {
    fill: var(--color-background);
}