
nav {
    font-family: var(--title-font);
}

nav > ul.links {
    display:flex;
    padding:0;
    margin: 0 var(--section-padding);
    border-bottom: 1px solid var(--current-accent-color);

    font-size: 1.4em;
}
nav > ul.links > li {
    position:relative;
    margin:1rem;
    list-style-type: none;
}


/* underlines */
nav > ul.links > li::after {
    content:'';
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    transition: width 0.2s ease-out;
}

nav > ul.links > li:not(:hover)::after {
    width:0;
}

nav > ul.links > li.home::after {
    background-color: var(--orange-1);
}
nav > ul.links > li.home > a {
    color: var(--orange-1);
}

nav > ul.links > li.about::after {
    background-color: var(--purple-1);
}
nav > ul.links > li.about > a {
    color: var(--purple-1);
}

nav > ul.links > li.contact::after {
    background-color: var(--blue-1);
}
nav > ul.links > li.contact > a {
    color: var(--blue-1);
}

nav > ul.links > li.github   svg,
nav > ul.links > li.linkedin svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    transition: opacity 0.2s ease-out;
}

nav > ul.links > li.github   svg:not(:hover),
nav > ul.links > li.linkedin svg:not(:hover) {
    opacity: 0.8;
}

nav > ul.links > li.github svg * {
    fill: var(--text-color);
    stroke: var(--text-color);
}

/* square */
nav > ul.links > li.linkedin svg #path14 {
    fill: var(--text-color);
}

/* letters */
nav > ul.links > li.linkedin svg #path28,
nav > ul.links > li.linkedin svg #path30 {
    fill: var(--color-background);
}