
nav {
    font-family: var(--title-font);
}

nav > ul.links {
    display:flex;
    padding:0;
    margin: 0 var(--section-padding);
    border-bottom: 3px solid var(--color-divider);

    font-size: 1.4em;
}
nav > ul.links > li {
    position:relative;
    margin:1rem;
    list-style-type: none;
}


/* underlines */
nav > ul.links > li::after {
    content:'';
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    width:0;
    height:2px;
    transition: width 0.2s ease-out;
}

@media (pointer: fine) {
    nav > ul.links > li:hover::after,
    nav > ul.links > li:focus::after {
        width:100%;
    }
}



nav > ul.links > li.home::after {
    background-color: var(--blue-1);
}
nav > ul.links > li.home > a {
    color: var(--blue-1);
}

nav > ul.links > li.about::after {
    background-color: var(--blue-1);
}
nav > ul.links > li.about > a {
    color: var(--blue-1);
}

nav > ul.links > li.contact::after {
    background-color: var(--blue-1);
}
nav > ul.links > li.contact > a {
    color: var(--blue-1);
}

nav > ul.links > li.github   svg,
nav > ul.links > li.linkedin svg {
    transition: opacity 0.2s ease-out;
}

nav > ul.links > li.github   svg:not(:hover),
nav > ul.links > li.linkedin svg:not(:hover) {
    opacity: 0.8;
}

@media (max-width: 480px) {
    nav > ul.links > li {
        margin:1rem 0.5rem;
    }
}