
nav > ul.links {
    display:flex;
    padding:0;
    margin: 0 auto;
    font-size: 1.4em;
}
nav > ul.links > li {
    position:relative;
    list-style-type: none;
}

nav > ul.links > li.home     svg,
nav > ul.links > li.github   svg,
nav > ul.links > li.linkedin svg {
    transition: opacity 0.2s ease-out;
}

nav > ul.links > li.home     svg:not(:hover),
nav > ul.links > li.github   svg:not(:hover),
nav > ul.links > li.linkedin svg:not(:hover) {
    opacity: 0.8;
}

@media (min-width: 1200px) {
    nav {
        position: fixed;
        top: var(--section-padding);
        width: 100%;
        padding:0 var(--section-padding);
    }
}

@media (max-width: 1200px) {
    nav {
        padding:1rem;
        max-width:800px;
        margin:0 auto;
        background-color: var(--color-background-alt);
    }
}
@media (max-width: 480px) {
    nav > ul.links > li {
        margin:1rem 0.5rem;
    }
}