
.post-preview {
    display:flex;
    align-items: center;
    padding:0.5rem 1rem;
    font-family: var(--title-font);
    transition: background-color 0.1s ease-out;
}

.post-preview:hover {
    background-color: var(--color-background-alt);
}

.post-preview {
    border: 1px solid var(--color-divider);
    border-radius:5px;
}

.post-preview > .flex-spacer {
    min-width:1em;
}

.post-preview > .details {
    text-align:right;
    white-space: nowrap;
}

.post-preview .read-length,
.post-preview .external-site,
.post-preview time {
    color: var(--color-text-secondary);
    flex-shrink:0;
}

.post-preview .read-length,
.post-preview .external-site {
    font-style: italic;
    font-size: 0.8em;
}